section.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:120px 80px 60px 80px;
  overflow: hidden;
  background: linear-gradient(0deg , #101014, #16161b);
  background: -webkit-linear-gradient(0deg , #101014 , #16161b);
  position: relative;
}

section.apresentacao .imagem{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

section.apresentacao .imagem img{
  border-radius: 15px;
  border: 1px solid var(--cor-azul);
}

section.apresentacao .imagem .foto{
  width: 100%;
  height: 400px;
  background-size: 1600px;

}

section.apresentacao .texto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  z-index: 2;
}

section.apresentacao .texto h1{
 font-size: 2.5em;
 color: var(--cor-branco);
}

section.apresentacao .texto h2{
  font-size: 1.7em;
  color: var(--cor-azul);
  margin: 5px 0 10px 0;
 }

 section.apresentacao .texto p{
  color: var(--cor-branco);
  margin: 0 0 20px 0;
 }

 section.apresentacao .texto.botoes {
  display: flex ;
  align-items:center ;
  margin: 20px 0 0 0 ;
 }

 section.apresentacao .texto .botoes a{
  background-color: var(--cor-azul);
  color: var(--cor-branco);
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;
 }

 section.apresentacao .texto .botoes a.destaque{
  background-color: var(--cor-branco);
  color: var(--cor-azul);
 }

 section.apresentacao .texto .botoes a{
  color: var(--cor-verde);
 }

 section.apresentacao .texto .botoes a.destaque:hover{
  background-color: var(--cor-verde);
 }

 section.apresentacao .blush{
  width: 1000px;
  height:1000px ;
  background: radial-gradient(#1da6ff, transparent 50%);/* para colocar a cor de fundo como um blush*/
  border-radius: 50%;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
 }

 section.apresentacao .blush.um {
  bottom: -300px;
  left: -200px;
  animation: blushOpacidade 7s linear infinite ;
 }

 section.apresentacao .blush.dois {
  top: -300px ;
  right: -200px;
  animation: blushOpacidade 7s linear infinite ;
 }

 @keyframes blushOpacidade {
  0%{
    opacity:0.2 ;
    transform: scale(1);
  }
  50%{
    opacity:0.5 ;
    transform:scale(1.3) ;
  }
  100%{
   opacity:0.2 ;
   transform:scale(1) ;
  }
 }

 /*responsivo*/


 @media screen and (max-width: 1000px){
  section.apresentacao {
    flex-direction: column;
    padding:100px 30px 60px 30px;
  }
  
  section.apresentacao .imagem{
    width: 100px;
  }
  
  section.apresentacao .imagem img{
    border-radius: 15px;
    border: 1px solid var(--cor-azul);
    width: 350px;
    margin: 30px 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  section.apresentacao .imagem .foto{
    height: 300px;
    background-size: 900px;
  }
  
  section.apresentacao .texto{
   width: 100%;
  }
  
  section.apresentacao .texto h1{
  max-width: 200px;
  }
  
   section.apresentacao .texto p{
   line-height: 1.5;
   max-width: 250px;
   }
  
   section.apresentacao .texto.botoes {
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 0 30px 0;
   }

  
   section.apresentacao .texto .botoes a.destaque{
   margin: 10px 0 0 0;
   }
  
   section.apresentacao .texto .botoes a{
    
   }
  
   section.apresentacao .texto .botoes a.destaque:hover{
   
   }
  
   section.apresentacao .blush{
    height: 750px ;
    width: 750px;
   }
 }





