section.pelicula{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px;
}

section.pelicula.um{
 
}

section.pelicula.dois .quadro{
   flex-direction: row-reverse;
}

section.pelicula.dois .quadro .blush{
  background: radial-gradient(#c5cace, transparent 50%);
}

section.pelicula.dois .quadro .texto {
  padding: 0 0 0 50px;
}

section.pelicula.quatro{
 
}

section.pelicula.quatro .quadro .blush{
  background: radial-gradient(#c5cace, transparent 50%);
}

section.pelicula.quatro .quadro{
  flex-direction: row-reverse;
}

section.pelicula.quatro .quadro .texto {
  padding: 0 0 0 50px;
}

section.pelicula .quadro{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(0deg , #101014, #16161b);
  background: -webkit-linear-gradient(0deg , #101014 , #16161b);
  position: relative;
  overflow: hidden;
}

section.pelicula .texto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px 0 0;
  width: 50%;
  z-index: 2;
}

section.pelicula .texto img{
  width: 100%;
  max-width: 250px;
  filter: invert(100%);
}

section.pelicula .texto h2{
 font-size: 2.5em;
 color: var(--cor-azul);
 margin: 0 0 10px 0;
}

 section.pelicula .texto p{
  color: var(--cor-branco);
  margin: 0 0 20px 0;
  line-height: 1.8;
  max-width: 450px;
 }

 section.pelicula .texto h3{
  display: flex;
  align-items: center;
  font-size: 1.7em;
  color: var(--cor-branco);
  margin: 5px 0 10px 0;
 }

 section.pelicula .texto h3 a{
  margin: 0 8px 0 0;
 }

 section.pelicula .texto a.principal {
  background-color: var(--cor-azul);
  color: var(--cor-branco);
  padding: 10px 25px;
  border-radius: 10px;
  margin: 10px 0;
 }

 section.pelicula .texto a.principal:hover {
  background-color: var(--cor-branco);
  color: var(--cor-azul);
 }

 section.pelicula .itens{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  z-index: 2;
 }

 section.pelicula .itens .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 0;
  background-color: #ffffff0a;
  padding: 30px 20px;
  border-radius: 10px;
  width: calc(50% - 5px);
 }

 section.pelicula .itens .item.destaque{
  background-color: transparent;
  border: 1px solid #ffffff10;
 }

 section.pelicula .itens .item .foto{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
 }

 section.pelicula .itens .item h3{
  color: var(--cor-azul);
  font-size: 1.2em;
  margin: 10px 0;
 }

 section.pelicula .itens .item p{
  color: var(--cor-branco);
  opacity: 0.7;
  line-height: 1.5;
 }

 section.pelicula .quadro .blush{
  width: 800px;
  height:800px ;
  background: radial-gradient(#1da6ff, transparent 50%);/* para colocar a cor de fundo como um blush*/
  border-radius: 50%;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
 }

 section.pelicula .quadro .blush.um {
  bottom: -300px;
  left: 100px;
  animation: blushOpacidade 7s linear infinite ;
 }

 section.pelicula .quadro .blush.dois {
  top: -300px ;
  right: 100px;
  animation: blushOpacidade 7s linear infinite ;
 }

 @keyframes blushOpacidade {
  0%{
    opacity:0.1 ;
    transform: scale(1);
  }
  50%{
    opacity:0.3 ;
    transform:scale(1.3) ;
  }
  100%{
   opacity:0.1 ;
   transform:scale(1) ;
  }
 }

 /*responsive*/

 @media screen and (max-width: 1000px){
  section.pelicula {
    padding: 20px 30px 0 30px;
  }

  section.pelicula .texto{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.pelicula.um{
    padding: 50px 30px 0 30px;
  }

  section.pelicula.dois .quadro{
    flex-direction: column;
  }

  section.pelicula.dois .quadro .texto{
    padding: 0 30px 40px 30px;
  }

  section.pelicula.quatro{
    padding: 20px 30px 50px 30px;
  }

  section.pelicula.quatro .quadro{
    flex-direction: column;
  }

  section.pelicula.quatro .quadro .texto{
    padding: 0 30px 40px 30px;
  }

  section.pelicula .quadro {
    flex-direction: column;
    padding: 30px 0;
  }

  section.pelicula .texo {
    padding: 0 30px 40px 30px;
    width: 100%;
  }

  section.pelicula .texto p {
    min-width: 305px;
    max-width: 305px;
    text-align: justify;
  }

  section.pelicula .texto h3{
    display: none;
  }

  section.pelicula .texo img{
    width: 150px;
  }

  section.pelicula .itens{
    width: 100%;
  }

  section.pelicula .itens .item{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    background-color: transparent;
    border-top: 1px solid #ffffff1b;
    margin:0 ;
    padding: 30px ;
    border-radius: 0 ;
    width: 100%;
  }

  section.pelicula .itens .item.destaque{
    border-top: 1px solid #ffffff1b ;
    border-left: 0 ;
    border-bottom: 0;
    border-right: 0;
  }

  section.pelicula .itens .item .foto{
    width: 50px;
    height: 50px ;
    min-width: 50px;
    min-height:50px;
    margin: 0 10px 0 0;
  }
 }
 